Repository ok123dung/rise-of-kingdoms-web-service: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,css,scss,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npm run type-check'"
  ]
}

Fix cron schedule for Vercel Hobby plan (12 hours)
  vercel.json
Due: prettier --write

📋 Add deployment checklist and final instructions
  DEPLOYMENT-CHECKLIST.md
Due: prettier --write

Fix Edge Runtime errors - simplified middleware without crypto
  package-lock.json
  prisma/schema.prisma
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/api/webhooks/momo/route.ts
  src/app/dashboard/files/page.tsx
  src/app/dashboard/profile/page.tsx
  src/app/dashboard/security/page.tsx
  src/app/dashboard/support/page.tsx
  src/lib/auth-enhanced.ts
  src/lib/auth.ts
  src/lib/cache.ts
  src/lib/csrf-protection.ts
  src/lib/db-enhanced.ts
  src/lib/db.ts
  src/lib/email/index.ts
  src/lib/email/service.ts
  src/lib/error-handler.ts
  src/lib/monitoring/logger.ts
  src/lib/monitoring/sentry.ts
  src/lib/rate-limit-memory-safe.ts
  src/lib/storage/upload-service.ts
  src/lib/webhooks/processor.ts
  src/lib/webhooks/retry-service.ts
  src/lib/websocket/secure-server.ts
  src/lib/websocket/server.ts
  src/middleware.ts
  src/middleware.ts.bak
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🚀 Production-ready deployment with database security
  DEPLOYMENT_CHECKLIST.md
  public/disable-sw.html
  src/app/diagnostics/page.tsx
  src/middleware.ts
  supabase/.gitignore
  supabase/DATABASE_SECURITY.md
  supabase/config.toml
  supabase/migrations/001_enable_rls_security.sql
  supabase/migrations/002_strategic_indexes.sql
  supabase/migrations/003_field_encryption.sql
  supabase/migrations/004_audit_monitoring.sql
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

📋 Add Vercel deployment configuration
  vercel.json
Due: prettier --write

🔧 Fix RLS migration scripts
  supabase/migrations/000_cleanup_policies.sql
  supabase/migrations/001_enable_rls.sql
  supabase/migrations/001_enable_rls_security.sql
  supabase/migrations/002_create_indexes.sql
  supabase/migrations/003_setup_encryption.sql
  supabase/migrations/DEPLOYMENT_GUIDE.md
  supabase/migrations/check_rls_status.sql
Due: prettier --write

🔧 Fix indexes script - remove non-existent columns
  scripts/deploy-vercel.sh
  supabase/migrations/002_create_indexes.sql
Due: none

🔒 Add security configurations and environment setup guide
  .env.example
  .eslintignore
  ENVIRONMENT_SETUP.md
  tsconfig.json
Due: prettier --write

🚀 Fix Vercel deployment - add force-dynamic to API routes
  src/app/api/cron/webhooks/route.ts
  src/app/api/files/route.ts
  src/app/api/health/db/route.ts
  src/app/api/webhooks/vnpay/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🔒 Security improvements and project verification
  PROJECT-REVIEW-SUMMARY.md
  README.md
  SETUP-GUIDE.md
  package-lock.json
  src/lib/validation.ts
  src/middleware.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

✅ Complete setup Phase 1 - Security & Documentation
  CURRENT-STATUS.md
  DATABASE-SETUP-INSTRUCTIONS.md
  NEXT-STEPS.md
Due: prettier --write

📋 Add setup completion summary and next steps guide
  README-SETUP-COMPLETE.md
Due: prettier --write

📊 Add visual setup summary report
  SETUP-SUMMARY.txt
Due: none

🎉 Database setup complete - Supabase PostgreSQL connected
  DATABASE-SETUP-COMPLETE.md
  prisma/schema.prisma
Due: prettier --write

📊 Add final setup completion report
  SETUP-COMPLETE-FINAL.txt
Due: none

🔒 Security improvements and production-ready deployment
  AUDIT-EXECUTIVE-SUMMARY.md
  BACKEND-FRONTEND-ARCHITECTURE.md
  COMPREHENSIVE-AUDIT-REPORT.md
  DEPLOY-NOW.md
  FINAL-VERIFICATION-REPORT.md
  SECURITY-IMPROVEMENTS-SUMMARY.md
  TYPESCRIPT-FIXES-SUMMARY.md
  src/__tests__/integration/webhooks.test.ts
  src/app/api/payments/create/route.ts
  src/app/api/upload/avatar/route.ts
  src/app/api/webhooks/momo/route.ts
  src/app/api/webhooks/vnpay/route.ts
  src/app/api/webhooks/zalopay/route.ts
  src/lib/rate-limit.ts
  src/lib/security/csp-config.ts
  src/lib/webhooks/replay-protection.ts
  src/lib/webhooks/retry-service.ts
  src/lib/webhooks/timestamp-utils.ts
  src/lib/websocket/secure-server.ts
  src/middleware.ts
  src/types/webhook-payloads.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🚀 Pre-deployment fixes and optimizations
  PRE-DEPLOY-CHECKLIST.md
  src/app/admin/dashboard/page.tsx
  src/app/dashboard/renewals/page.tsx
  src/lib/cache.ts
  src/lib/security/csp-config.ts
  src/websocket-server.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🔒 Fix all critical Supabase security & performance warnings
  SUPABASE-WARNINGS-ANALYSIS.md
  supabase/RUN_ALL_MIGRATIONS.sql
  supabase/migrations/004_fix_function_security.sql
  supabase/migrations/005_add_rls_policies.sql
  supabase/migrations/006_add_missing_rls_policies.sql
  supabase/migrations/007_add_foreign_key_indexes.sql
  supabase/migrations/008_fix_verification_tokens_pk.sql
  supabase/migrations/009_optimize_rls_performance.sql
Due: prettier --write

♻️ Consolidate Supabase migrations into single file
  supabase/migrations/004_fix_function_security.sql
  supabase/migrations/005_add_rls_policies.sql
  supabase/migrations/005_fix_all_supabase_warnings.sql
  supabase/migrations/006_add_missing_rls_policies.sql
  supabase/migrations/007_add_foreign_key_indexes.sql
  supabase/migrations/008_fix_verification_tokens_pk.sql
  supabase/migrations/009_optimize_rls_performance.sql
Due: none

🧹 Clean up duplicate migration files
  supabase/migrations/000_cleanup_policies.sql
  supabase/migrations/001_enable_rls.sql
  supabase/migrations/002_create_indexes.sql
  supabase/migrations/README.md
Due: prettier --write

🚀 Add final performance optimization migration (006)
  SUPABASE-WARNINGS-ANALYSIS.md
  supabase/migrations/006_final_performance_optimization.sql
  supabase/migrations/README.md
Due: prettier --write

fix: resolve SSL certificate error for Supabase database connections
  .env.debug
  .env.final_check
  .env.prod
  .env.prod.check
  .env.prod.check2
  .env.verification
  db_url.txt
  db_url_clean.txt
  db_url_direct.txt
  db_url_no_ssl_verify.txt
  db_url_simple.txt
  direct_url.txt
  docs/VERCEL-DEPLOYMENT-FIX.md
  docs/comprehensive-db-debug-guide.md
  docs/deployment-checklist.md
  prisma/schema.prisma
  scripts/debug-connection.js
  scripts/debug-prisma.ts
  scripts/test-direct-connection.js
  scripts/verify-db-connection.js
  src/app/admin/dashboard/page.tsx
  src/app/admin/page.tsx
  src/app/api/debug-db/route.ts
  src/lib/db-enhanced.ts
  src/lib/db-serverless.ts
  src/lib/monitoring/logger.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: audit fixes, deployment config, and domain setup
  scripts/create-test-user.ts
  scripts/fix-env.js
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/app/globals.css
  src/app/page.tsx
  src/components/customer/CustomerHeader.tsx
  src/components/customer/CustomerSidebar.tsx
  src/components/customer/CustomerStats.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/sections/Hero.tsx
  src/components/sections/Services.tsx
  src/components/sections/Testimonials.tsx
  src/components/ui/card.tsx
  tailwind.config.js
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: relax CSP for inline scripts and cloudflare
  next.config.js
  src/lib/security/csp-config.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: remove conflicting CSP from next.config.js
  next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

fix: resolve Vercel build failures with lazy instantiation
  src/app/api/cron/webhooks/route.ts
  src/app/api/webhooks/momo/route.ts
  src/app/api/webhooks/vnpay/route.ts
  src/app/api/webhooks/zalopay/route.ts
  src/app/sitemap.ts
  src/instrumentation.ts
  src/lib/db.ts
  src/lib/webhooks/processor.ts
  src/lib/webhooks/retry-service.ts
  src/lib/websocket/init.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: remove self-referential rewrite causing lambda lookup failure
  vercel.json
Due: prettier --write

fix: pin Node.js to v20.x for Vercel deployment stability
  .nvmrc
  package.json
Due: prettier --write

fix: remove region restriction for deployment
  vercel.json
Due: prettier --write

fix: signup validation + build errors + docs update
  README.md
  docs/DEPLOYMENT-GUIDE.md
  docs/DOCS-INDEX.md
  docs/code-standards.md
  docs/codebase-summary.md
  docs/project-overview-pdr.md
  docs/project-roadmap.md
  docs/system-architecture.md
  src/app/auth/signup/page.tsx
  src/app/dashboard/security/page.tsx
  src/components/ui/ConfirmModal.tsx
  src/lib/monitoring/logger.ts
  src/lib/storage/r2-client.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat(auth): implement complete auth system with JWT
  package-lock.json
  package.json
  src/app/api/auth/forgot-password/route.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/reset-password/route.ts
  src/app/api/auth/signup/route.ts
  src/app/api/user/password/route.ts
  src/app/api/user/profile/route.ts
  src/lib/auth/middleware.ts
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'
