Repository ok123dung/rise-of-kingdoms-web-service: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: move jsonwebtoken to dependencies for production build
  package-lock.json
  package.json
Due: prettier --write

fix: exclude scripts and prisma from TypeScript build
  tsconfig.json
Due: prettier --write

fix(ci): add DIRECT_URL env var for prisma migrate
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): use prisma db push for fresh CI database
  .github/workflows/ci.yml
Due: prettier --write

fix(db): update prisma schema to match Supabase database
  prisma/schema.prisma
Due: none

fix(ci): exclude legacy admin pages from type-check
  tsconfig.json
Due: prettier --write

fix(ci): exclude all legacy files using old model names
  tsconfig.json
Due: prettier --write

fix(ci): exclude legacy auth files from type-check
  tsconfig.json
Due: prettier --write

fix(ci): skip type-check errors temporarily
  .github/workflows/ci.yml
Due: prettier --write

ci: make linting non-blocking to allow deployment
  .github/workflows/ci.yml
Due: prettier --write

ci: make tests non-blocking to allow deployment
  .github/workflows/ci.yml
Due: prettier --write

fix: skip TypeScript errors during build to allow deployment
  next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

ci: remove e2e as deployment blocker to enable production deployments
  .github/workflows/ci.yml
Due: prettier --write

fix(logger): use correct Prisma model name and add id field
  src/lib/monitoring/logger.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

debug: add test-db endpoint
  src/app/api/test-db/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix(db): remove VERCEL_ENV check from isBuildPhase
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

debug: test-db with fresh PrismaClient
  src/app/api/test-db/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix(db): use DATABASE_URL for prismaAdmin (DIRECT_URL unreachable from Vercel)
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

chore: add debug-signup endpoint
  src/app/api/debug-signup/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

chore: add POST method to debug-signup endpoint
  src/app/api/debug-signup/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

chore: cleanup - remove debug-signup endpoint
  src/app/api/debug-signup/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

chore: temporarily enable debug-db endpoint for troubleshooting
  src/app/api/debug-db/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

chore: add POST method to debug-db for user creation test
  src/app/api/debug-db/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: correct template literal syntax in debug-db route
  src/app/api/debug-db/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: replace queryRaw template literals with queryRawUnsafe
  src/lib/api/db-middleware.ts
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: replace all queryRaw template literals with queryRawUnsafe
  src/app/api/health/db-diagnostic/route.ts
  src/app/api/health/db/route.ts
  src/app/api/test-db/route.ts
  src/lib/monitoring.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

security: remove leaked credentials from tracked files
  .claude/settings.local.json
Due: prettier --write

Add GitHub Actions workflow to prevent Supabase database from pausing
  .github/workflows/supabase-keep-alive.yml
Due: prettier --write

fix: add null check for prismaEnhanced before creating Proxy
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix(db): use lazy proxy pattern to prevent cold start errors
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix(db): remove Proxy wrappers, use simple Prisma serverless pattern
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

chore: update vercel config
  vercel.json
Due: prettier --write

docs: update documentation
  docs/DOCS-INDEX.md
  docs/code-standards.md
  docs/codebase-summary.md
  docs/docs-manager-251209-documentation-update.md
  docs/project-overview-pdr.md
  docs/project-roadmap.md
  docs/system-architecture.md
Due: prettier --write

fix: correct boolean logic operators in sitemap and websocket server
  src/app/sitemap.ts
  src/lib/websocket/server.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: resolve ESLint warnings across codebase (55 -> 14)
  src/app/api/upload/avatar/route.ts
  src/app/api/upload/image/route.ts
  src/app/booking/page.tsx
  src/app/dashboard/files/page.tsx
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/layout.tsx
  src/app/services/[slug]/page.tsx
  src/components/ErrorBoundary.tsx
  src/components/ErrorBoundaryWrapper.tsx
  src/components/FileUpload.tsx
  src/components/admin/DashboardStats.tsx
  src/components/customer/CustomerHeader.tsx
  src/components/customer/CustomerSidebar.tsx
  src/components/profile/TwoFactorAuth.tsx
  src/components/revenue/RevenueValidation.tsx
  src/components/testing/ConversionTesting.tsx
  src/components/ui/Button.tsx
  src/components/ui/ConfirmModal.tsx
  src/components/ui/LoadingSpinner.tsx
  src/lib/auth.ts
  src/lib/email.ts
  src/lib/monitoring/logger.ts
  src/lib/webhooks/retry-service.ts
  src/lib/websocket/secure-server.ts
  src/websocket-server.ts
  tests/global-setup.ts
  tests/utils/test-helpers.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,yml,yaml})
  bash -c 'npm run type-check': any of: *.{ts,tsx}
