Repository ok123dung/rise-of-kingdoms-web-service: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,css,scss,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npm run type-check'"
  ]
}

fix: resolve all remaining ESLint warnings (14 -> 0)
  prisma/seed.ts
  src/app/api/upload/avatar/route.ts
  src/app/diagnostics/page.tsx
  src/components/ui/ConfirmModal.tsx
  src/lib/auth.ts
  src/lib/db.ts
  src/lib/errors.ts
  src/lib/monitoring/logger.ts
  src/middleware/upload-protection.ts
  tests/utils/test-helpers.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: add 3 new services and update Discord link
  src/app/booking/success/page.tsx
  src/app/not-found.tsx
  src/app/services/page.tsx
  src/components/layout/Footer.tsx
  src/components/mobile/MobileOptimizations.tsx
  src/components/seo/StructuredData.tsx
  src/lib/email.ts
  src/lib/i18n/translations.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: display 4 pricing tiers instead of multiple services on /services page
  src/app/services/page.tsx
  src/lib/i18n/translations.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: add floating social buttons (Discord + Zalo) on all pages
  src/app/layout.tsx
  src/components/social/FloatingSocialButtons.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: update Zalo link to group chat
  src/components/social/FloatingSocialButtons.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: add Spam & Pull Barbarians service (900k/month, pre-KvK1 required)
  src/app/services/page.tsx
  src/lib/i18n/translations.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: update homepage services to actual offerings
  src/components/sections/Services.tsx
  src/config/services.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: add service tiers dropdown on hover/click
  src/components/sections/Services.tsx
  src/config/services.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix(config): update next.config.js for Next.js 16 compatibility
  next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(auth): strengthen password validation to min 8 chars
  src/lib/auth.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix(ci): update Sentry to 10.30.0 for Next.js 16 compatibility
  .github/workflows/ci.yml
  .github/workflows/security.yml
  package-lock.json
  package.json
Due: prettier --write

fix: resolve React 19 peer dependency conflict with @testing-library/react
  .npmrc
  package.json
Due: prettier --write

fix(deps): sync package-lock.json with package.json
  package-lock.json
Due: prettier --write

fix(e2e): always reuse existing server in Playwright
  playwright.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

perf(e2e): run only chromium in CI for faster tests
  playwright.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

perf(e2e): add 15min timeout and reduce retries to 1
  .github/workflows/ci.yml
  playwright.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

perf(e2e): disable video/screenshot/trace in CI
  playwright.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

ci(e2e): mark E2E tests as informational (continue-on-error)
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): use Node.js 20 for Deploy Production job
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): add deployments write permission to Deploy Production job
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): make security audit and lighthouse CI non-blocking
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: prettier --write

fix(ci): add continue-on-error to E2E job level
  .github/workflows/ci.yml
Due: prettier --write

ci: disable E2E tests temporarily (timeout >15min)
  .github/workflows/ci.yml
Due: prettier --write

feat(pricing): add USD prices for English version
  src/components/sections/Pricing.tsx
  src/lib/i18n/translations.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix(auth): resolve signup 403 CSRF error
  src/app/api/auth/csrf/route.ts
  src/app/auth/signin/page.tsx
  src/app/auth/signup/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat(auth): enable Discord OAuth on signup page
  src/app/auth/signup/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix(auth): add brute-force protection and 2FA verification
  src/app/api/auth/check-2fa/route.ts
  src/lib/auth-enhanced.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

test(auth): add 2FA signin flow tests
  tests/e2e/02-authentication.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

ci: make artifact upload non-blocking for quota issues
  .github/workflows/ci.yml
Due: prettier --write

fix(security): resolve npm audit vulnerabilities
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

feat: migrate to Tailwind CSS v4
  package-lock.json
  package.json
  postcss.config.js
  src/app/globals.css
  tailwind.config.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: migrate to Tailwind CSS v4 (#25)
  package-lock.json
  package.json
  postcss.config.js
  src/app/globals.css
  tailwind.config.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(ci): downgrade GitHub Actions from v6 to v4
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: prettier --write

fix(ci): streamline workflows to reduce Actions minutes
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: prettier --write
