Repository ok123dung/rise-of-kingdoms-web-service: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🔧 Fix Vercel build errors
  .prettierrc.json
  next.config.js
  package.json
  src/app/api/auth/signup/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🔧 Fix GitHub Actions errors
  .github/workflows/ci.yml
  package-lock.json
Due: prettier --write

🔧 Fix security audit in GitHub Actions
  .github/workflows/ci.yml
Due: prettier --write

Fix syntax error in email/index.ts - Remove literal \n characters
  src/lib/email/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Fix TypeScript errors - Correct logger.error() usage across codebase
  src/app/api/auth/signup/route.ts
  src/lib/auth.ts
  src/lib/discord.ts
  src/lib/email/index.ts
  src/lib/email/service.ts
  src/middleware/admin.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Update @sentry/nextjs to v8 for Next.js 15 compatibility
  package-lock.json
  package.json
Due: prettier --write

Disable Vercel deployments for Dependabot branches
  vercel.json
Due: prettier --write

Fix logger.error() calls in payment webhook routes
  src/app/api/payments/momo/webhook/route.ts
  src/app/api/payments/vnpay/ipn/route.ts
  src/app/api/payments/zalopay/callback/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Fix TypeScript error in ErrorBoundary component
  src/components/ErrorBoundary.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Fix all remaining TypeScript errors
  src/components/ErrorBoundary.tsx
  src/lib/auth.ts
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Fix session user type mismatch in auth.ts
  src/lib/auth.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Fix all TypeScript errors for successful build
  src/lib/auth.ts
  src/lib/db.ts
  src/lib/discord/bot.ts
  src/lib/email/index.ts
  src/lib/email/service.ts
  src/lib/errors.ts
  src/lib/monitoring.ts
  src/lib/monitoring/logger.ts
  src/lib/payments/banking.ts
  src/lib/payments/momo.ts
  src/lib/payments/vnpay.ts
  src/lib/rate-limit.ts
  src/middleware/admin.ts
  src/middleware/error-handler.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Fix TypeScript error: Use null instead of undefined for optional Json field
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Fix Prisma optional Json field type error
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Fix remaining Prisma JSON field type errors
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Fix PWA manifest issues and API error handling
  public/images/logo-128.png
  public/images/logo-144.png
  public/images/logo-152.png
  public/images/logo-192.png
  public/images/logo-384.png
  public/images/logo-512.png
  public/images/logo-72.png
  public/images/logo-96.png
  public/images/screenshot-1.png
  public/images/screenshot-1.svg
  public/images/screenshot-mobile-1.png
  public/images/screenshot-mobile-1.svg
  public/images/screenshot-mobile-2.png
  public/images/screenshot-mobile-2.svg
  public/images/shortcut-account.png
  public/images/shortcut-book.png
  public/images/shortcut-contact.png
  public/images/shortcut-services.png
  scripts/generate-icons.sh
  src/app/api/auth/signup/route.ts
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Improve database connection handling and documentation
  RAILWAY_DATABASE_SETUP.md
  VERCEL_ENV_SETUP.md
  prisma/schema.prisma
  scripts/setup-database.sh
  src/app/api/auth/signup/route.ts
  src/lib/db.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Database connection successful! Update documentation
  .env.example
  UPDATE_VERCEL_ENV.md
Due: prettier --write

Add diagnostic endpoints for troubleshooting
  src/app/api/auth/signup/route.ts
  src/app/api/health/db/route.ts
  src/app/api/test/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🔧 Fix Vercel database connection issues
  .env.vercel.example
  VERCEL-DEPLOYMENT-CHECKLIST.md
  VERCEL-DEPLOYMENT-FIX.md
  src/app/api/auth/signup/route.ts
  src/app/api/health/db-diagnostic/route.ts
  src/lib/db-serverless.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

📚 Add Railway-specific Vercel deployment guide
  .env.vercel.railway
  VERCEL-ENV-SETUP.md
  test-railway-connection.js
Due: eslint --fix --max-warnings=0, prettier --write

🐛 Fix TypeScript error in health check endpoint
  src/app/api/health/db/route.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

✨ Add all missing dashboard pages and API routes
  src/app/api/user/bookings/[id]/route.ts
  src/app/api/user/bookings/route.ts
  src/app/api/user/payments/[id]/route.ts
  src/app/api/user/payments/route.ts
  src/app/api/user/profile/route.ts
  src/app/dashboard/bookings/[id]/page.tsx
  src/app/dashboard/bookings/page.tsx
  src/app/dashboard/messages/page.tsx
  src/app/dashboard/notifications/page.tsx
  src/app/dashboard/payments/[id]/page.tsx
  src/app/dashboard/payments/page.tsx
  src/app/dashboard/profile/page.tsx
  src/app/dashboard/renewals/page.tsx
  src/app/dashboard/settings/page.tsx
  src/app/dashboard/support/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🗄️ Add database migration for logs and task management
  DATABASE-MIGRATION-GUIDE.md
  MIGRATION-STATUS.md
  prisma/migrations/20250810213439_add_logs_and_tasks/migration.sql
Due: prettier --write

🔧 Fix build errors - Add missing dependencies
  package-lock.json
  package.json
  src/app/api/user/profile/route.ts
  types/next-auth.d.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🐛 Fix TypeScript build errors
  src/services/lead.service.ts
  src/services/payment.service.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🚀 Comprehensive TypeScript fix - Build ready
  src/services/payment.service.ts
  src/types/database.ts
  tests/e2e/01-homepage.spec.ts
  tests/e2e/02-authentication.spec.ts
  tests/e2e/03-booking-flow.spec.ts
  tests/e2e/04-payment-flow.spec.ts
  tests/e2e/05-admin-dashboard.spec.ts
  tests/e2e/06-mobile-responsive.spec.ts
  tests/utils/test-helpers.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🐛 Fix final TypeScript error - MoMo refund method
  src/services/payment.service.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🐛 Fix VNPay refund method parameters
  src/services/payment.service.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🐛 Fix Vercel build errors
  docs/VERCEL_BUILD_FIX.md
  docs/VERCEL_DATABASE_SETUP.md
  src/app/api/user/bookings/route.ts
  src/app/api/user/payments/route.ts
  src/app/auth/reset-password/page.tsx
  src/lib/monitoring/logger.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🐛 Fix CSP and PWA issues
  next.config.js
  scripts/generate-icons.sh
Due: eslint --fix --max-warnings=0, prettier --write

✨ Generate correct PWA icon sizes
  docs/ICON_GENERATION_GUIDE.md
  package-lock.json
  package.json
  public/images/logo-128.png
  public/images/logo-144.png
  public/images/logo-152.png
  public/images/logo-192.png
  public/images/logo-384.png
  public/images/logo-512.png
  public/images/logo-72.png
  public/images/logo-96.png
  scripts/generate-pwa-icons.js
Due: eslint --fix --max-warnings=0, prettier --write

🐛 Fix service worker and database connection issues
  public/sw.js
  src/app/api/auth/signup/route.ts
  src/lib/db-check.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🚀 Major performance and security improvements
  src/app/api/services/route.ts
  src/app/dashboard/profile/page.tsx
  src/lib/api-cache.ts
  src/lib/auth-enhanced.ts
  src/lib/auth-security.ts
  src/lib/cache.ts
  src/lib/db-enhanced.ts
  src/lib/db.ts
  src/lib/monitoring/edge-logger.ts
  src/lib/rate-limit-edge.ts
  src/lib/rate-limit-memory-safe.ts
  src/middleware/auth.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

📚 Add comprehensive improvements summary documentation
  docs/IMPROVEMENTS_SUMMARY.md
Due: prettier --write

Fix instrumentation for deployment
  sentry.server.config.ts
  src/instrumentation.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

🚀 Setup Supabase database and complete deployment
  .vscode/settings.json
  docs/SUPABASE-SETUP.md
  package-lock.json
  package.json
  prisma/schema.prisma
  scripts/check-data.js
  scripts/create-admin.js
  scripts/seed-services-simple.js
  scripts/seed-services.js
  scripts/test-supabase-connection.js
  src/lib/supabase.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,yml,yaml})
  bash -c 'npm run type-check': any of: *.{ts,tsx}
